
.nav-items{
    margin-right: 30px;
    transition: all 0.3s;
    cursor: pointer;
}
.nav-items:hover{
    transform: translateY(-5px);
}
#menu-icon{
   display:none;
}

#app-bar{
    background-color: rgba(255, 255, 255, 0.208);
    box-shadow: none;
}
#app-bar-name{
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Italianno', cursive;
}
#app-bar-name span{
    color: orange;
}




@media screen and (max-width: 768px) {
    .nav-items{
        display: none;
    }
    #menu-icon{
        display:block;
     }
}